In [4]:
#1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.
def sum_even_numbers(numbers):
    sum = 0
    for num in numbers:
        if num % 2 == 0:
            sum += num
    return sum

In [5]:
sum_even_numbers([8,9,10,11,12,13,14])

44

In [6]:
#2. Create a Python function that accepts a string and returns the reverse of that string.
def reverse_string(string):
    return string[::-1]

In [7]:
reverse_string("Tulika")

'akiluT'

In [8]:
#3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.
def square_numbers(numbers):
    squares = []
    for num in numbers:
        squares.append(num ** 2)
    return squares

In [9]:
square_numbers([1,2,3,4])

[1, 4, 9, 16]

In [10]:
#4. Write a Python function that checks if a given number is prime or not from 1 to 200.
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

In [13]:
is_prime(7)

True

In [12]:
is_prime(8)

False

In [14]:
is_prime(1)

False

In [15]:
#5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.
#can't understand the question regarding class. It is not done yet.

In [30]:
#6. Write a generator function in Python that yields the powers of 2 up to a given exponent.
def power_of_two(n):
    for i in range(n + 1):
        yield 2 ** i

In [31]:
power_of_two(5)

In [33]:
gen = power_of_two(5)
next(gen)

1

In [34]:
next(gen)

2

In [35]:
next(gen)

4

In [36]:
next(gen)

8

In [7]:
#7.Implement a generator function that reads a file line by line and yields each line as a string.
#can't understand the question

In [49]:
#8.Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.
data = [(1,6), (3,1), (6,8)]
sorted(data, key=lambda x:x[1])

[(3, 1), (1, 6), (6, 8)]

In [52]:
#9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.
celcius = [0,10,20,30,50]
list(map(lambda x: x*(9/5)+32,celcius))

[32.0, 50.0, 68.0, 86.0, 122.0]

In [56]:
#10.Create a Python program that uses `filter()` to remove all the vowels from a given string.
def remove_vowels(input_string):
    vowels = 'aeiouAEIOU'
    result = filter(lambda char: char not in vowels, input_string)
    return ''.join(result)

In [57]:
user_input = input("Enter a string: ")
no_vowels = remove_vowels(user_input)
print("String without vowels:", no_vowels)

Enter a string: "Ram is a good boy."
String without vowels: "Rm s  gd by."

In [ ]:
#11. Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:
"""
   Order No    Book title & Author              Quantity    Price per Item
   34587       Learning Python, Mark Lutz           4        40.95
   98762       Programming Python, Mark Lutz        5        56.80
   77226       Head First Python, Paul Barry        3        32.95
   88112       Einführung in Python3, Bernd Klein   3        24.99 """


#Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
#product of the price per item and the quantity. The product should be increased by 10,- € if the value of the order is smaller than 100,00 €.

#Write a Python program using lambda and map.

In [5]:
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

order_totals = list(map(lambda order: (order[0],
    round(order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0), 2)
), orders))

print(order_totals)

[(34587, 163.8), (98762, 284.0), (77226, 108.85), (88112, 84.97)]